<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qssq666.swipemenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.qssq666.swipemenu.test.activity.MainActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.qssq666.swipemenu.test.activity.TestVerticalPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.qssq666.swipemenu.test.activity.TestHorzontalPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="cn.qssq666.swipemenu.test.activity.VerticalSrollConfictActivity"     android:screenOrientation="portrait" />
        <activity android:name="cn.qssq666.swipemenu.test.activity.HorzontalSrollConfictActivity"     android:screenOrientation="portrait" />
        <activity android:name="cn.qssq666.swipemenu.test.activity.VerticalSrollNestedVerticalConfictActivity"      android:screenOrientation="portrait"/>
        <activity android:name="cn.qssq666.swipemenu.test.activity.HorzontalSrollNestedHorzontalConfictActivity"     android:screenOrientation="portrait"></activity>
    </application>

</manifest>